<%- include ('partials/header.ejs') %>
<br>

<body>
    <div>
    <%- include ('partials/navbar.ejs') %>
    </div>
    <div>
        <div id="headerwrap">
            <div class="container">
              <div class="row">
                <%- include ('partials/login.ejs') %>
                
              </div>
            </div>
            <!-- /container -->
          </div>
        
    </div>
    <br>
    
</body>
<%- include ('partials/footer.ejs') %>
